html { overflow-x: hidden; }

#wrapper,#wrapper-1,#wrapper-2,#wrapper-3 {
    width: 100%;
    position: relative;
}

#carousel,#carousel-1,#carousel-2,#carousel-3 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#carousel-1::-webkit-scrollbar {
    height: 0;
}
#carousel-2::-webkit-scrollbar {
    height: 0;
}
#carousel-3::-webkit-scrollbar {
    height: 0;
}

#prev,#prev-1,#prev-2,#prev-3,
#next,#next-1,#next-2,#next-3 {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

#prev,#prev-1,#prev-2,#prev-3 {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

#next,#next-1,#next-2,#next-3  {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}


#content,#content-1,#content-2,#content-3 {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.item {
    width: 200px;
    height:300px;
    background: rgb(158, 23, 23);
}

.card a{
	max-width: 200px;
}