html {
	height: 100vh;
	width: 100%;
}

body {
	height: 100vh;
	width: 100%;
	font-size: 0.9em;;
	font-family: 'Noto Sans', sans-serif;
	color: rgb(224, 13, 13);
}

li img {
	width: 350px;
	height: 450px;
	border-radius: 12px;
}

h1 {
	margin-left: 10%;
}

.container-carusel {
	height: 455px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.carousel {
	display: flex;
	margin: 10px auto;
	font-family: Arial;
	position: absolute;
}

.carousel__list {
	list-style: none;
	position: relative;;
	left: 55%;
	width: auto;
	perspective: 300px;
	height: 455px;
}

.carousel__item {
	color: #fff;
	font-size: 0px;
	height: 450px;
	border-radius: 12px;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	transition: all .3s ease-in;
}

img[data-pos="0"] {
	z-index: 5;
}

img[data-pos="-1"], img[data-pos="1"] {
	filter: blur(1px) grayscale(10%);
}

img[data-pos="-1"] {
	transform: translateX(-40%) scale(0.9);
	z-index: -1;
}

img[data-pos="1"] {
	transform: translateX(40%) scale(.9);
	z-index: -1;
}

img[data-pos="-2"], img[data-pos="2"] {
	opacity: 0.4;
	filter: blur(2px) grayscale(20%);
}

img[data-pos="-2"] {
	transform: translateX(-70%) scale(.8);
	z-index: -2;
}

img[data-pos="2"] {
	transform: translateX(70%) scale(.8);
	z-index: -2;
}

img[data-pos="-3"], img[data-pos="3"], img[data-pos="-4"], img[data-pos="4"],
	img[data-pos="5"] {
	opacity: 0;
}

.containerText {
	display: none;
}

.containerText[data-pos="0"] {
	display: block;
	left: 10%;
	width: 27%;
	position: relative;
	top: -425px;
	width: 27%;
}

.title {
	color: rgb(158, 23, 23);
}

.description {
	margin-top: 7px;
	max-height: 200px;
	overflow: auto;
}

table {
	margin-top: 13px;
}

/* Стили для экранов до 1200px */
@media ( max-width : 1200px) {
	.container-carusel {
		height: 400px;
	}
	li img {
		width: 300px;
		height: 400px;
	}
	.containerText {
		top: -375px;
		width: 30%;
	}
	.carousel__item {
		height: 400px;
	}
}

/* Стили для экранов до 992px */
@media ( max-width : 992px) {
	li img {
		width: 250px;
		height: 350px;
	}
	.carousel__item {
		height: 350px;
	}
	.carousel__list {
		left: 40%;
	}
	.containerText {
		top: -275px;
		width: 40%;
	}
	.container-carusel {
		height: 680px;
	}
	.containerText[data-pos="0"] {
		width: 90%;
		top: -75px;
		left: 25%;
	}
	.description {
		max-height: 150px;
		overflow: auto;
	}
}

/* Стили для экранов до 768px */
@media ( max-width : 768px) {
	li img {
		width: 200px;
		height: 300px;
	}
	.carousel__item {
		height: 300px;
	}
	.containerText[data-pos="0"] {
		width: 90%;
		top: -75px;
		left: 25%;
	}
	.container-carusel {
		height: 680px;
	}
	#more-info {
		display: block;
		width: 80%;
	}
	.description {
		max-height: 150px;
		overflow: auto;
	}
	.search-group {
		width: 80%;
	}
}

/* Стили для экранов до 576px */
@media ( max-width : 576px) {
	li img {
		width: 200px;
		height: 300px;
	}
	.carousel__item {
		height: 300px;
	}
	.container-carusel {
		height: 500px;
	}
	.containerText[data-pos="0"] {
		width: 90%;
		top: -75px;
		left: 15%;
	}
	.container-carusel {
		height: 680px;
	}
	.description {
		max-height: 150px;
		overflow: auto;
	}
	#more-info {
		display: block;
		width: 80%;
	}
	.search-group {
		width: 80%;
	}
}