<!DOCTYPE>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Films</title>
</head>
<div>
	<div layout:fragment="content">
		<ul class="pagination justify-content-center"
			style="margin: 20px 0; cursor: pointer;"></ul>
		<div id="films" class="d-flex justify-content-center flex-wrap w-100">
		</div>

		<ul class="pagination justify-content-center"
			style="margin: 20px 0; cursor: pointer;"></ul>
	</div>
</div>

<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"
			crossorigin="anonymous"></script>
			<script type = "text/JavaScript"
			 src="https://MomentJS.com/downloads/moment-with-locales.js">
			</script>
		<script src="/js/favourite-films.js"></script>
		<script src="/js/table-pagination.js"></script>
	</th:block>
</html>