<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="copy">
		<div  class="pagination d-flex justify-content-center align-items-center">
			<div class="page-item" th:if="${films.getNumber>=1}">
				<a class="page-link" th:href="@{/films/all(page=${films.getNumber-1})}"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a>
			</div>
			<div class="row align-items-start"
				th:each="i: ${#numbers.sequence(1,films.getTotalPages())}">
				<div th:if="${(i-1)==films.getNumber}" class="page-item">
					<a class="page-link  bg-danger text-dark"
						th:href="@{/films/all(page=${i-1})}" th:text="${i}"> </a>
				</div>

				<div th:if="${(i-1)!=films.getNumber}" class="page-item">
					<a class="page-link text-dark" th:href="@{/films/all(page=${i-1})}"
						th:text="${i}"> </a>
				</div>
			</div>
			<div class="page-item" th:if="${films.getNumber<films.getTotalPages()-1}">
				<a class="page-link" th:href="@{/films/all(page=${films.getNumber+1})}" aria-label="Next"> <span
					aria-hidden="true">&raquo;</span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>